<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'POINTS.ASSIGN' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="refresh(groupsArraySelected,pointArraySelected,$event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>{{ 'POINTS.SINGULAR' | translate }}</ion-label>
    <ion-select [(ngModel)]="pointArraySelected" multiple="false">
      <ion-option *ngFor="let point of pointArray" value="{{point.id}}" selected="false" (ionChange)="getSelectedPoint(pointArraySelected)">
        {{point.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'GROUP.TITLE' | translate }}</ion-label>
    <ion-select [(ngModel)]="groupsArraySelected" multiple="false">
      <ion-option *ngFor="let g of groupsArray" value="{{g.id}}" selected="false" (ionChange)="showselected(groupsArraySelected, $event)">
        {{g.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{ 'POINTS.NUM' | translate }}</ion-label>
    <ion-input item-right type="id" name="id" [(ngModel)]="valueRel" required></ion-input>
  </ion-item>
  <ion-item text-wrap>
    <ion-note *ngIf="instruction == true"> {{'COMMON.ESTIRAR' | translate }}</ion-note>
    <ion-list *ngIf="instruction == false">
      <ion-item *ngFor="let stu of studentsSelectedArray">
        <ion-checkbox [(ngModel)]=stu.selected (ionChange)="getSelectedStudents(studentsSelectedArray)"></ion-checkbox>
        <ion-thumbnail item-left>
          <img [src]="stu.student.avatar.image">
        </ion-thumbnail>
        <ion-label>{{ stu.student.name }} {{ stu.student.surname }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>
  <button ion-button full (click)="postPointsToStudents()">{{ 'COMMON.ASSIGN' | translate }}</button>

</ion-content>
